*.elc
*~
auto-save-list
autosaves
backups
history
image-dired
savehist
saveplace
tramp
url/*
ac-comphist.dat
w3m-session
abbrev_defs
elpa-bak
ede-projects.el
bbdb
elpa
nohup.out
eproject.lst
recentf
semanticdb
RFC

/bookmarks
/games/tetris-scores
/ido.last
/places
